<!DOCTYPE html>
<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>


<div class="container">

    <h4> Brands </h4>

    <!-- Input For BrandCategory -->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="brandCategory-form">
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputBrand">Brand <span class="required">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputBrand" name="brand"
                               onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)" placeholder="enter brand" required type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="category">Category <span
                            class="required">*</span></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="category" name="category"
                               onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)" placeholder="enter category"
                               required type="text">
                    </div>
                </div>
                <button class="btn btn-primary" id="add-brandCategory" type="submit">Add</button>&nbsp;
                <button class="btn btn-primary" id="upload-data" type="button">Upload</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <!-- Table -->
        <div class="col-12 tableDiv">
            <table class="table table-striped" id="brandCategory-table">
                <thead class="table-thead">
                <tr>
                    <th scope="col" style="width:25%">Brand</th>
                    <th scope="col" style="width:25%">Category</th>
                    <th scope="col" style="width:12%">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-top:20px">
            <div style="width:944px;">
                <button class="btn btn-secondary" id="previous-page" onclick="prevPage()" style="margin-left:882px"
                        type="button">Prev
                </button>
            </div>
            <div style="width:60px;">
                <input class="form-control" id="page-number" min="1" oninput="checkLimit();validity.valid||(value='');" required
                       step="any" type="number" value="1">
            </div>
            <div style="width:60px;">
                <input class="form-control" disabled id="total-page" onkeypress="return /[0-9a-zA-Z]/i.test(event.key)"
                       type="text" value="10000">
            </div>
            <div style="width:57px; margin-left:4px">
                <button class="btn btn-secondary" id="next-page" onclick="nextPage()" type="button">Next</button>
            </div>
        </div>

    </div>
    <div class="modal" id="upload-brandCategory-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload BrandCategory</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="brandCategory-file">
                        <input accept=".tsv" class="custom-file-input" id="brandCategoryFile" oninput="enableUpload()"
                               type="file">
                        <label class="custom-file-label" for="brandCategoryFile" id="brandCategoryFileName">Choose
                            file</label>
                    </div>
                    <a target="_blank" th:href="@{/sample/brandCategory.tsv}">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" disabled id="process-data" type="button">Upload</button>
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Employee Edit Modal -->
    <div class="modal" data-backdrop="static" id="edit-brandCategory-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit BrandCategory</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body div-12">
                    <form class="form-inline" id="brandCategory-edit-form">
                        <div class="form-group div-6">
                            <label class="col-sm-2 col-form-label" for="inputBrand2">Brand <span
                                    class="required">*</span></label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputBrand2"
                                       name="brand" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)"
                                       placeholder="enter brand" required type="text">
                                <!--                <p style="line-height:2em;"></p>-->
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group div-6">
                            <label class="col-sm-2 col-form-label" for="inputCategory2">Category <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputCategory2"
                                       name="category" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)"
                                       placeholder="enter category" required type="text">
                            </div>
                        </div>
                        <input name="id" type="hidden">
                        <div style="height:50px"></div>
                        <div>
                            <div style="display:inline-grid;width:304px;"></div>
                            <button class="btn btn-primary" id="update-brandCategory" type="submit">Update</button>
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <div aria-atomic="ture" aria-live="assertive" class="toast error" id="error-modal" role="alert">
        <div class="toast-header">
            <img alt="..." class="rounded mr-2" height="30" th:src="@{/static/error1.png}" width="30">
            <strong class="mr-auto">Error</strong>
            <small>just now</small>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
        </div>
    </div>


    <div aria-atomic="ture" aria-live="assertive" class="toast success" id="error-modal1" role="alert">
        <div class="toast-header">
            <img alt="..." class="rounded mr-2" height="30" th:src="@{/static/right.png}" width="30">
            <strong class="mr-auto" style="color:green;">Success</strong>
            <small>just now</small>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body1">
        </div>
    </div>

</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/brandCategory.js}"/>
</script>
</body>
</html>