<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container">
    <h2>Daily Sales Report</h2>
    <button class="btn btn-success" id="download-brand-report" type="button">
        <svg class="bi bi-download" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
        </svg>
        Download
    </button>
    <div class="row">

        <!-- Table -->
        <div class="col-12 tableDiv">
            <table class="table table-striped" id="dailyReport-table">
                <thead class="table-thead">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Invoiced Orders Count</th>
                    <th scope="col">Invoiced Items Count</th>
                    <th scope="col">Total Revenue</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
    <div aria-atomic="ture" aria-live="assertive" class="toast " id="error-modal" role="alert">
        <div class="toast-header">
            <img alt="..." class="rounded mr-2" height="30" th:src="@{/static/error1.png}" width="30">
            <strong class="mr-auto">Error</strong>
            <small>just now</small>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/dailyReport.js}"/>
</script>
</body>

</html>