<!doctype html>

<html lang="en">

<head>

    <head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>


<div class="container">

    <div class="row">

        <div class="card">
            <div class="card-header">
                Features
            </div>
            <div class="card-body">
                <h5 class="card-title">Features of This Application</h5>
                <p class="card-text">This application is designed to make your life easier.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Record brands and categories for easy organization.</li>
                    <li class="list-group-item">Keep track of your inventory and the products you have in stock.</li>
                    <li class="list-group-item">Record previous orders and easily place new ones.</li>
                    <li class="list-group-item">Update inventory automatically when orders are placed.</li>
                    <li class="list-group-item">Generate reports based on brands, inventory, or sales data.</li>
                    <li class="list-group-item">Create daily reports to track revenue and other important metrics.</li>
                    <li class="list-group-item">Effortlessly monitor your business with incredible efficiency.</li>
                </ul>
            </div>
        </div>

    </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>