<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">



 <!-- Top row with form-->
<div class="row ">

	 <div class="col-2 Icons">
	 	<a th:href="@{/ui/supervisor}" title="Supervisor"> <img th:src="@{/static/superviser.jpeg}" width="150" height="150" alt="Description of the image"></i> </a>
	 </div>
	<div class="col-2 Icons" >
		<a th:href="@{/ui/brandCategory}" title="Brand"> <img th:src="@{/static/brand.png}" width="140" height="150" alt="Description of the image"></i> </a>
	</div>
	<div class="col-2 Icons">
		<a th:href="@{/ui/product}" title="Product">  <img th:src="@{/static/product.jpeg}" width="140" height="150" alt="Description of the image"> </a>
	</div>
	<div class="col-2 Icons">
		<a th:href="@{/ui/inventory}" title="Inventory"> <img th:src="@{/static/inventory.jpeg}" width="140" height="150" alt="Description of the image"></i> </a>
	</div>
	<div class="col-2 Icons">
		<a th:href="@{/ui/order}" title="Order"> <img th:src="@{/static/order.png}" width="140" height="150" alt="Description of the image"></i> </a>
	</div>


</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>