<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

  <h3>Inventory</h3>

  <!-- Top row with form-->
  <div class="row">
    <div class="col-12">
      <form class="form-inline" id="inventory-form">
        <div class="form-group">
          <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"  name="barcode" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)" id="inputBarcode" placeholder="enter barcode" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputInventory" class="col-sm-2 col-form-label">Inventory</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="inventory" id="inputInventory" min="0" oninput="validity.valid||(value='');"  placeholder="enter inventory" required>
           </div>
        </div>
        <button type="submit" class="btn btn-primary"  id="add-inventory">Update</button>
        &nbsp;
        <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>
        &nbsp;
        <button type="button" class="btn btn-primary" id="upload-data">Upload</button>
      </form>
    </div>
  </div>


  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row">

    <!-- Table -->
    <div class="col-12 tableDiv">
      <table class="table table-striped" id="inventory-table">
        <thead class="table-thead">
        <tr>
          <th scope="col" style="width:35%">Barcode</th>
          <th scope="col" style="width:40%">Name</th>
          <th scope="col" style="width:25%">Inventory</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div class="row">

        <div style="width:400px;" >
          <button type="button" class="btn btn-primary" id="previous-page" onclick="prevPage()" style="margin-left:341px">Prev</button>
        </div>
        <div style="width:60px;">
          <input type="number" value="1" min="1" step="any" oninput="checkLimit();validity.valid||(value='');" class="form-control"  id="page-number" required>
        </div>
        <div  style="width:60px;">
          <input type="text"   class="form-control" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)" value="10000" id="total-page" disabled>
        </div>
        <div style="width:57px; margin-left:4px">
          <button type="button" class="btn btn-primary" onclick="nextPage()" id="next-page">Next</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Employee Edit Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="edit-inventory-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Inventory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-inline" id="inventory-edit-form">
            <div class="form-group">
              <label for="inputInventory" class="col-sm-2 col-form-label">Inventory <span class="required">*</span></label>
              <div class="col-sm-10">
                <input type="number" class="form-control" minlength="" name="inventory" min="0" oninput="validity.valid||(value='');" placeholder="enter inventory" required>
              </div>
            </div>
            <input type="hidden" name="id"  id="updateId">
            <input type="hidden" name="id" >
            <div style="height:50px"></div>
            <div>
              <div style="display:inline-grid;width:304px;"></div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="update-inventory">Update</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  <!-- Employee Edit Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="upload-inventory-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Upload inventory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="inventory-file">
            <input type="file" class="custom-file-input" accept=".tsv" id="inventoryFile">
            <label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose file</label>
          </div>
          <a th:href="@{/sample/inventory.tsv}" target="_blank">Download Sample</a>
          <br>
          Rows: <span id="rowCount">0</span>,
          Processed: <span id="processCount">0</span>,
          Errors: <span id="errorCount">0</span>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="process-data">Upload</button>
          <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
        </div>
      </div>
    </div>
  </div>
  <div class="toast " role="alert" id="error-modal" aria-live="assertive" aria-atomic="ture">
    <div class="toast-header">
      <img th:src="@{/static/error1.png}" width="30" height="30" class="rounded mr-2" alt="...">
      <strong class="mr-auto">Error</strong>
      <small>just now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
    </div>
  </div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/inventory.js}"/></script>
</body>

</html>