<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body class="loginPage">

<nav th:replace="snippets.html :: name_site_navbar"></nav>


<div class="container">

<div class="row" style="margin-left: 345px;margin-top: 68px;">
<div class="col-6">

	<div class="card loginCard">
		<div class="card-header" style="color: silver; font-size: 32px;margin-bottom: 25px;margin-left: -25px;" >
			<img th:src="@{/static/logoIcon.png}" alt="Image Description" style="width: 50px; height: 50px; margin-right: 10px;">
			Login
		</div>
		<div class="card-body">
		<form class="form" id="login-form" method="POST" th:action="@{/session/login}">
			<div class="form-group">
				<label for="email" class="col-sm-10 col-form-label" style="color:white">Email</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="email" id="email" placeholder="enter email">
			    </div>
			</div>
			<div class="form-group">
			    <label for="password" class="col-sm-10 col-form-label" style="color:white">Password</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" name="password" id="password" placeholder="password">
			    </div>
			</div>
			<button type="submit" class="btn btn-primary" id="login">Go</button>
		</form>
	</div>
	<div class="card-footer text-danger" >
		[[${info.getMessage()}]]
	</div>

	</div>



</div> <!-- Col -->
</div> <!-- Row -->

</div> <!-- Container-->



</body>

</html>
