<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>


        <div>

            <div class="row" style="height:600px">
				<div style="width:50%" class="loginPage1 col-6">

				</div>
                <div class="col-6 loginPage">
                    <div>
                    <div class="card loginCard">
                        <div class="card-header">

                            Login
                        </div>
                        <div class="card-body">
                            <form class="form" id="login-form" method="POST" th:action="@{/session/login}">
                                <div class="form-group">
                                    <label  class="col-sm-10 col-form-label"
                                          for="email" style="color:white">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control"  id="email"
                                              name="email" placeholder="enter email"
                                       type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-10 col-form-label"
                                          for="password" style="color:white">Password</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="password" name="password" placeholder="password"
                                               type="password">
                                    </div>
                                </div>
                                <button class="btn btn-primary" id="login" type="submit">Go</button>
                            </form>
                        </div>
                        <div class="card-footer text-danger">
                            [[${info.getMessage()}]]
                        </div>

                    </div>
                    </div>
                </div> <!-- Col -->
            </div> <!-- Row -->

        </div> <!-- Container-->


</body>

</html>
