<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Products</h3>

    <!-- Top row with form-->
    <div class="row"  th:if="${role=='supervisor'}">
        <div class="col-12">
            <form class="form" id="product-form">
                <div class="container">
                    <div class="row " style="margin-left:-30px">
                        <div class="form-group col-2">
                            <label class="col-form-label" for="inputBarcode">Barcode:</label>
                            <input class="form-control" id="inputBarcode" name="barcode"
                                   onkeypress="return /[0-9a-zA-Z]/i.test(event.key)" placeholder="enter barcode"
                                   required type="text" maxlength="30">
                        </div>
                        <div class="form-group col-2">
                            <label class="col-sm-2 col-form-label" for="inputBrand">Brand:</label>

                            <select class="form-control" id="inputBrand" name="brand" required>
                                <option disabled hidden selected value="">Choose Brand</option>
                            </select>

                        </div>
                        <div class="form-group col-2">
                            <label class="col-sm-2 col-form-label" for="inputCategory">Category:</label>

                            <select class="form-control" id="inputCategory" name="category" required>
                                <option disabled hidden selected value="">Choose Category</option>
                            </select>

                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label" for="inputName">Name:</label>
                            <input class="form-control" id="inputName" name="name" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)"
                                   placeholder="enter name" required
                                   type="text" maxlength="30">
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label" for="inputMrp">Mrp:</label>
                            <input class="form-control" id="inputMrp" min="1" name="mrp" onkeypress="return /[0-9.]/i.test(event.key)" placeholder="enter mrp"
                                   required step="any" type="text" maxlength="8">
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" id="add-product" type="submit">Add</button>
                &nbsp;
                <button class="btn btn-primary" id="upload-data" type="button">Upload</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12 tableDiv">
            <table class="table table-striped " id="product-table">
                <thead class="table-thead">
                <tr>
                    <th scope="col" style="width:12%">Barcode</th>
                    <th scope="col" style="width:23%">Brand</th>
                    <th scope="col" style="width:23%">Category</th>
                    <th scope="col" style="width:16%">Name</th>
                    <th scope="col" style="width:12%">Mrp</th>
                    <th scope="col" style="width:12%">Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                </tr>
                <tbody>
                <tr>
                    <td>af7H73h</td>
                    <td>abc</td>
                    <td>abc</td>
                    <td>Rider Bag</td>
                    <td>999</td>
                    <td>Edit | Delete</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" style="margin-top:20px;">

            <div style="width:944px;">
                <button class="btn btn-secondary" id="previous-page" onclick="prevPage()" style="margin-left:882px"
                        type="button">Prev
                </button>
            </div>
            <div style="width:60px;">
                <input class="form-control" id="page-number" min="1" oninput="checkLimit();validity.valid||(value='');" required
                       step="1" type="number" value="1" maxlength="8">
            </div>
            <div style="width:60px;">
                <input class="form-control" disabled id="total-page"
                       onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)" type="text" value="10000" maxlength="30">
            </div>
            <div style="width:57px; margin-left:4px">
                <button class="btn btn-secondary" id="next-page" onclick="nextPage()" type="button">Next</button>
            </div>
        </div>
    </div>

    <!-- Employee Edit Modal -->
    <div class="modal" data-backdrop="static" id="edit-product-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="product-edit-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBarcode">Barcode</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled
                                       name="barcode" onkeypress="return /[0-9a-zA-Z]/i.test(event.key)" placeholder="enter barcode"
                                       type="text" maxlength="30">
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBrand1">Brand </label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled
                                       id="inputBrand1" name="brand"
                                       onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)"  maxlength="30" placeholder="enter brand" type="text">
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputCategory1">Category </label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled
                                       id="inputCategory1" name="category"
                                       onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)" placeholder="enter category" type="text" maxlength="30">
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputName">Name</span></label>
                            <div class="col-sm-10">
                                <input class="form-control" name="name"
                                       onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)" placeholder="enter name"
                                       required type="text" maxlength="30">
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputMrp">Mrp</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="mrp" onkeypress="return /[0-9.]/i.test(event.key)"
                                       placeholder="enter mrp" required type="text" maxlength="30">
                            </div>
                        </div>
                        <input name="id" type="hidden">
                        <div>
                            <div style="display:inline-grid;width:304px;"></div>
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                            <button class="btn btn-primary" id="update-product" type="submit">Update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Product Edit Modal -->
    <div class="modal" data-backdrop="static" id="upload-product-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Product</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="product-file">
                        <input accept=".tsv" class="custom-file-input" id="productFile" oninput="enableUpload()"
                               type="file">
                        <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
                    </div>
                    <a target="_blank" th:href="@{/sample/product.tsv}">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="process-data" type="button">Upload</button>
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-atomic="ture" aria-live="assertive" class="toast error" id="error-modal" role="alert">
        <div class="toast-header">
            <img alt="..." class="rounded mr-2" height="30" th:src="@{/static/error1.png}" width="30">
            <strong class="mr-auto" style="color:red">Error</strong>
            <small>just now</small>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
        </div>
    </div>

    <div aria-atomic="ture" aria-live="assertive" class="toast success" id="error-modal1" role="alert">
        <div class="toast-header">
            <img alt="..." class="rounded mr-2" height="30" th:src="@{/static/right.png}" width="30">
            <strong class="mr-auto" style="color:green;">Success</strong>
            <small>just now</small>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body1">
        </div>
    </div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/newProducts.js}"/>
</script>

</body>

</html>