<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Products</h3>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form" id="product-form">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-2">
                            <label for="inputBarcode" class="col-form-label">Barcode</label>
                            <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode" required>
                        </div>
                        <div class="form-group col-2">
                            <label for="inputBrand" class="col-form-label">Brand</label>
                            <div class="input-group">
                                <input type="text" class="form-control" onkeyup='myFunction("myDropdown", "inputBrand")' oninput='checkInput("myDropdown")' id="inputBrand" name="brand" placeholder="enter brand" required>
                                <div class="input-group-append">
                                    <div class="dropdown" style="position: absolute; top: 100%;">
                                        <div id="myDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <label for="inputCategory" class="col-form-label">Category</label>
                            <div class="input-group">
                                <input type="text" class="form-control" onkeyup='myFunction("myDropdown1", "inputCategory")' oninput='checkInput("myDropdown1")' id="inputCategory" name="category" placeholder="enter category" required>
                                <div class="input-group-append">
                                    <div class="dropdown" style="position: absolute; top: 100%;">
                                        <div id="myDropdown1" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <label for="inputName" class="col-form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="inputName" placeholder="enter name" required>
                        </div>
                        <div class="form-group col-2">
                            <label for="inputMrp" class="col-form-label">Mrp</label>
                            <input type="number" class="form-control" name="mrp" id="inputMrp" min="0" step="any" oninput="validity.valid||(value='');" placeholder="enter mrp" required>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="add-product">Add</button>
                &nbsp;
                <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>
                &nbsp;
                <button type="button" class="btn btn-primary" id="upload-data">Upload</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12 tableDiv">
            <table class="table table-striped" id="product-table">
                <thead class="table-thead">
                <tr>
                    <th scope="col">Barcode</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mrp</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>af7H73h</td>
                    <td>abc</td>
                    <td>abc</td>
                    <td>Rider Bag</td>
                    <td>999</td>
                    <td>Edit | Delete</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Employee Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-product-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="product-edit-form">
                        <div class="form-group">
                            <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" disabled name="barcode" placeholder="enter barcode" >
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label for="inputBrand1" class="col-sm-2 col-form-label">Brand <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="brand" placeholder="enter brand" id="inputBrand1" disabled>
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label for="inputCategory1" class="col-sm-2 col-form-label">Category <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="category" placeholder="enter category" id="inputCategory1" disabled>
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 col-form-label">Name <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="enter name" required>
                            </div>
                        </div>
                        <div style="height:50px"><p style="line-height:2em;"></p></div>
                        <div class="form-group">
                            <label for="inputMrp" class="col-sm-2 col-form-label">Mrp <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="mrp" placeholder="enter mrp" required>
                            </div>
                        </div>
                        <input type="hidden" name="id" >
                        <div>
                            <div style="display:inline-grid;width:304px;"></div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="update-product">Update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Product Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-product-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="product-file">
                        <input type="file" class="custom-file-input" id="productFile">
                        <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
                    </div>
                    <a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>
                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/></script>

</body>

</html>