<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Supervisor > Users</h3>

 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12">
			<form class="form-inline" id="user-form">
			  <div class="form-group">
			    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="email" id="inputEmail" placeholder="enter email" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="password" id="inputPassword" placeholder="enter password" required>
			    </div>
			  </div>
			  <button type="submit" class="btn btn-primary" id="add-user">Add</button>
			  &nbsp;
			  <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>
			</form>
	 </div>	
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12 tableDiv">
	<table class="table table-striped" id="user-table">
	  <thead class="table-thead">
	    <tr>
	      <th scope="col">Email</th>
	      <th scope="col">Role</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Romil Jain</td>
	      <td>role1</td>
	      <td>Edit | Delete</td>
	    </tr>
	    <tr>
	      <td>2</td>
	      <td>Rajul Jain</td>
	      <td>role2</td>
	      <td>Edit | Delete</td>
	    </tr>
	    <tr>
	      <td>3</td>
	      <td>Anaisha Jain</td>
	      <td>role3</td>
	      <td>Edit | Delete</td>
	    </tr>
	  </tbody>
	</table>
	 <div class="row" style="margin-top:20px;">

		 <div style="width:944px;" >
			 <button type="button" class="btn btn-secondary" id="previous-page" onclick="prevPage()" style="margin-left:882px">Prev</button>
		 </div>
		 <div style="width:60px;">
			 <input type="number" value="1" min="1" step="any" oninput="checkLimit();validity.valid||(value='');" class="form-control"  id="page-number" required>
		 </div>
		 <div  style="width:60px;">
			 <input type="text"   class="form-control" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)"  value="10000" id="total-page" disabled>
		 </div>
		 <div style="width:57px; margin-left:4px">
			 <button type="button" class="btn btn-secondary" onclick="nextPage()" id="next-page">Next</button>
		 </div>
	 </div>
</div>
</div>

	<div class="toast error" role="alert" id="error-modal" aria-live="assertive" aria-atomic="ture">
		<div class="toast-header">
			<img th:src="@{/static/error1.png}" width="30" height="30" class="rounded mr-2" alt="...">
			<strong class="mr-auto" style="color:red">Error</strong>
			<small>just now</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">
		</div>
	</div>

	<div class="toast success" role="alert" id="error-modal1" aria-live="assertive" aria-atomic="ture">
		<div class="toast-header">
			<strong class="mr-auto" style="color:green;">Success</strong>
			<small>just now</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body1">
		</div>
	</div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/user.js}"/></script>

</body>	

</html>